/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {
    .substories p {
        font-size: 12px;
        line-height: 18px;
        color: #0c0c0c;
        margin: 0px;
        font-weight: 600;
    }
.mainstory {
    height: 500px !important;
}
.mainstory img {
    max-height: 310px !important;
    height: 310px;
    min-height: 307px !important;
}
    .mainimg h3 a {
        color: #ee2e24 !important;
        padding: 4%;
        font-size: 30px;
    }

    .mainimg .articleheading {
        color: #000000 !important;
        padding: 4%;
        font-size: 36px;
        font-weight: 700;
    }

    #standard h4 {
        font-size: 18px;
        font-family: sans-serif;
    }

    .black {
        color: #222;
        font-weight: 600;
        line-height: 1.3;
    }

    .myimage {
        max-width: 180px !important;
        display: inline;
        margin-top: -9%;
        margin-left: -40px;
    }

}

.navbar-nav {
    margin: auto 0 !important;
    text-align: center;
}

@media (min-width: 1501px) and (max-width: 2800px) {
    .substories p {
        font-size: 12px;
        line-height: 18px;
        color: #0c0c0c;
        margin: 0px;
        font-weight: 600;
    }
    .mainstory img {
    max-height: 310px !important;
    height: 310px;
    min-height: 307px !important;
}
    .mainstory {
    height: 507px !important;
}

    .myimage {
        display: inline;
        width: 150px;
        margin-top: -5%;
        margin-left: -98%;
    }

    .pt-100 {
        padding-top: 5%;
    }

}

/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1199.98px) {

    .header-area .navbar .navbar-nav .nav-item a {
        font-size: 9px;
        font-weight: 600;
        color: #272727;
        -webkit-transition: all 0.4s ease-out 0s;
        -moz-transition: all 0.4s ease-out 0s;
        -ms-transition: all 0.4s ease-out 0s;
        -o-transition: all 0.4s ease-out 0s;
        transition: all 0.4s ease-out 0s;
    }
    .imgbtnhome {
    position: absolute;
    top: 187px;
    right: 10px;
    background: #f0f0f1;
    color: #be2820;
    padding: 2%;
    font-weight: 700;
    font-size: 11px;
    min-width: 79px;
    text-transform: uppercase;
    text-align: center;
}
    .imgbtnup {
    position: absolute;
    top: 152px;
    right: 10px;
    background: #f0f0f1;
    color: #be2820;
    padding: 1%;
    font-weight: 700;
    font-size: 10px;
    min-width: 130px;
    text-transform: uppercase;
    text-align: center;
}
    .mainstory img {
    max-height: 310px !important;
    height: 278px;
    min-height: 278px !important;
}
.mainstory {
    height: 483px !important;
}
.list-group-flush a {
    color: #777;
    font-size: 11px;
}
#standard h4 {
    font-size: 13px;
    font-family: sans-serif;
}
.wrapper p {
    font-size: 11px;
    font-weight: 400;
    line-height: 15px;
    color: #777;
    margin: 0px;
}
.mainimg h3 a {
    color: #ee2e24 !important;
    padding: 4%;
    font-size: .8em;
}
    .media-body {
        -ms-flex: 1;
        flex: 1;
        font-size: 14px;
    }

    .myimage {
        display: inline;
        width: 101px;
        margin-left: -46%;
        margin-right: 0 !important;
    }

    .whitespace {
        max-width: 100px !important;
        display: inline;
        margin-top: -9%;
        margin-left: -70px;
    }

    .nav-link {
        display: block;
        padding: .5rem .5rem;
    }

    .single-standard .standard-content .content .title a {
        font-size: 17px !important;
        color: #333;
        line-height: 36px;
        -webkit-transition: all 0.4s ease-out 0s;
        -moz-transition: all 0.4s ease-out 0s;
        -ms-transition: all 0.4s ease-out 0s;
        -o-transition: all 0.4s ease-out 0s;
        transition: all 0.4s ease-out 0s;
    }

    .wrapper p {
        font-size: 11px;
        font-weight: 400;
        line-height: 20px;
        color: #777;
        margin: 0px;
    }

    #standard h4 {
        font-size: 16px;
        font-family: sans-serif;
    }

    .substories p {
        font-size: 9px;
        line-height: 18px;
        color: #0c0c0c;
        margin: 0px;
        font-weight: 600;
    }

    .story p {
        font-size: 14px;
        font-weight: 400;
        line-height: 1.6;
        color: #292929;
        margin-top: 15px;
    }

    .black {
        color: #222;
        font-weight: 600;
        line-height: 1.4;
    }

    p {
        font-size: 13px;
        font-weight: 400;
        line-height: 21px;
        color: #777;
        margin: 0px;
    }
}


/* Tablet desktop :768px. */
@media (min-width: 660px) and (max-width: 801.98px) {

.navbar-expand-md .navbar-nav {
 display: flex !important;

}
}
@media (min-width: 768px) and (max-width: 991.98px) {

.mainstory img {
    max-height: 310px !important;
    height: 278px;
    min-height: 278px !important;
}
.imgbtnup {
    position: absolute;
    top: 152px;
    right: 10px;
    background: #f0f0f1;
    color: #be2820;
    padding: 1%;
    font-weight: 700;
    font-size: 10px;
    min-width: 130px;
    text-transform: uppercase;
    text-align: center;
}
.imgbtnhome {
    position: absolute;
    top: 187px;
    right: 10px;
    background: #f0f0f1;
    color: #be2820;
    padding: 2%;
    font-weight: 700;
    font-size: 11px;
    min-width: 79px;
    text-transform: uppercase;
    text-align: center;
}
}


/* small mobile :320px. */
@media (min-width: 576px) and (max-width: 769px) {
    .icon-bar {
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        display: flex;
        margin-top: 39px !important;
    }

}

/* Large Mobile :480px. */
@media only screen and  (max-width: 575.98px) {
    footer .nav-link {
        display: block;
        padding: .1rem .3rem;
        font-size: 9px;
    }

    .story h3 a {
        color: #000000 !important;
        padding: 1%;
        font-size: 29px;
        font-weight: 700;
        line-height: 1.1;
    }
    .fa-bars {
        color: black;
        font-weight: 500 !important;
    }
    .imgbtn {
        position: absolute;
        top: 210px;
        right: 10px;
        background: #be2820;
        color: white;
        padding: 2%;
        font-weight: 600;
        font-size: 12px;
    }

    .footer-widget h3 {
        font-size: 25px;
        text-align: center;
    }

    .footer-logo {
        margin-top: 0 !important;
    }

    .footer-widget {
        padding-top: 0 !important;
    }
    #standard h4 {
        font-size: 12px;
        font-family: sans-serif;
    }
    .vid {
        font-size: 15px;
        line-height: 1.4;
    }
    .substories .categoryname {
    color: #ee2e24;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
}.wrapper p {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #777;
    margin: 0;
}.substories p {
    font-size: 19px;
    line-height: 24px;
    color: #0c0c0c;
    margin: 0;
    font-weight: 600;
}.list-group-flush a {
    color: #777;
    font-size: 16px;
}.black {
    font-weight: 600;
    line-height: 1.4;
    font-size: 23px;
}p {
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
    color: #777;
    margin: 0;
}.card .media img {
    width: 125px!important;
    height: 86px !important;
}.list-group-flush a {
    color: #777;
    font-size: 16px;
}h1, h2, h3, h4, h5, h6 {
    font-family: Helvetica;
    font-weight: 600;
    color: #333;
    margin: 0;
    line-height: 1.3;
}.owl-carousel .owl-item img {
    height: auto !important;
}.header-area {
    overflow: hidden;
}
}

.scrollFontSize {
    font-size: 60px;
}
